NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dddwxyeod
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=ekhone
NEXT_PUBLIC_SUPABASE_URL=https://zfqxstdcefrvindoxtra.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpmcXhzdGRjZWZydmluZG94dHJhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA5MjY5MjEsImV4cCI6MjEwNjUwMjkyMX0.MB9MasDRvYu-J8bn9HS259kXCYH07N_lnJI2vJ6J8zA

NEXT_PUBLIC_TINYMCE_API_KEY=wr3shek4545gm1mpxscs1r26p5q6txi4xylgje4zxxq9ozgj
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-GTYED49NC7
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000



# NEXT_PUBLIC_API_URL=http://localhost:4000




